AWS_REGION=us-east-1
S3_BUCKET=user-1138025476-ueia-so

DB_HOST=taller-aws.c2l8uo4wgjp3.us-east-1.rds.amazonaws.com
DB_PORT=5432
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=cambiar

# SSL (igual que en RDS → Conectar → Fragmentos de código)
DB_SSLMODE=verify-full
DB_SSLROOTCERT=global-bundle.pem

# Solo si falla SSL en pruebas locales: DB_SSLMODE=disable
